.container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px max-content 40px;
}

.header {
  grid-column: 1 / -1;
  background-color: mediumpurple;
}

.title {
  text-align: center;
  background-color: inherit;
}

.menu {
  background-color: lawngreen;
}

.content {
  grid-column: 2 / -1;
  background-color: ivory;
}

.footer {
  grid-column: 1 / -1;
  background-color: lightpink;
}
